/* App icon */
#uitableview .app.icon {
  max-width: 110px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* App name */
#uitableview #main .custom.cell .cell-text {
  font-size: 22px !important;
  font-weight: 600;
}

/* App subtitle */
#uitableview #main .custom.cell .cell-detail-text {
  font-size: 14px !important;
}

/* Buttons */

#buttons { display: flex; }

/* Install button */
#install button {
  color: white;
  background: var(--primary-color);
}

#back button,
#more button {
  min-width: 0 !important;
  margin-left: 2px !important;
  padding: 0;
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
  border-radius: 4px;
  border: none;
  background: unset;
  color: var(--primary-color);
  cursor: pointer;
}

/* Back button */
#back-button span { margin-left: 2px; }
#back-button {
  margin-top: 10px !important;
  display: flex;
  align-items: center;
  font-size: 17px;
}

/* more button */
.section .text-container .wrapper {
  position: relative;
  width: 100%;
}
.text-container .wrapper #more {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 36px;
  background: linear-gradient(to right, transparent, var(--cell-background) 35%);
}

/* Button wrapper */
.button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.button-wrapper>.detail-text {
  position: absolute;
  width: 76px;
  margin-top: 32px !important;
  font-size: 8px;
  text-align: center;
  opacity: 0.5;
}
/* First button (install) */
#buttons .button-wrapper:first-of-type {
  margin-right: 12px;
}

/* Text */

#subtitle, 
#version-description,
#preview-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#subtitle {
  line-height: 18px;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

#version-description,
#preview-text {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

/* Text containers */
.section .text-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 18px;
}

/* Version info */
.section .text-container p {
  padding: 0 !important;
  font-size: 15px;
  opacity: 0.5;
}

/* Headers */
.section .text-container .text.header {
  font-size: 24px !important;
  font-weight: 650 !important;
  text-transform: capitalize !important;
  opacity: 100% !important;
}

/* Description & release notes */
.section .text-container .custom.text {
  font-size: 15px;
  margin-top: 10px !important;
  opacity: 1;
}
.section .text-container .custom.text a {
  color: var(--primary-color);
  text-decoration: none;
  word-wrap: break-word;
}

/* Sections */

/* Preview section */
#preview .text-container:first-of-type {
  margin-top: 18px;
}

/* All sections */
.section .text-container:first-of-type {
  border-top: 0.5px solid var(--cell-separator);
  padding-top: 8px;
  margin-top: 24px;
}

.section-container { margin-top: 0 !important; }
#main { margin-top: -8px; }
#main-content {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Cells */
#uitableview .cell .cell-inner {
  border-top: none !important;
}

/* Credits */

.link.cell {
  text-decoration: none;
  color: unset;
}

.link.cell .cell-text {
  color: var(--primary-color);
  font-size: 16px !important;
}

.link.cell .cell-inner {
  margin: 0px 18px !important;
  padding: 24px 0 !important;
  /* border: none !important; */
  border-bottom: 0.5px solid;
  padding: 10px 0 !important;
}

/* Preview images */

#preview-images {
  display: flex;
  overflow-x: scroll;
  padding: 0 16px;
}

#preview-images img {
  margin-right: 8px;
  border: 1px solid var(--cell-separator);
  border-radius: 16px;
  width: 70%;
  max-width: 350px;
}

/* Touch screen */
@media (hover: none) {
  /* Hide scrollbar */
  /* https: //www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
  /* Chrome, Safari and Opera */
  #preview-images::-webkit-scrollbar {
    display: none;
  }
  /* IE, Edge and Firefox */
  #preview-images {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


@media (prefers-color-scheme: dark) {
  .text-container .wrapper #more {
    background: linear-gradient(to right, transparent, var(--table-background-dark) 35%);
  }

  .section .text-container .custom.text a,
  .link.cell .cell-text,
  #back button,
  #more button {
    color: var(--primary-color-dark);
  }

  #install button {
    background: var(--primary-color-dark);
  }

  #preview-images img  {
    border-color: var(--cell-separator-dark);
  }
}