#today {
  margin-left: 16px;
  padding-top: 16px !important;
  text-transform: uppercase;
  font-size: 13.25px;
  font-weight: 575;
  opacity: 0.45;
}

#uitableview #title {
  padding-top: 6px !important;
}

#note {
  margin: 20px 14px 24px 14px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

#note .header {
  font-size: 18px;
  font-weight: 600;
}

#note .description {
  text-align: center;
  font-size: 14px;
  opacity: 0.5;
}

#note i {
  font-size: 36px;
  -webkit-text-stroke: 0.1px;
  color: rgba(255, 145, 0, 1);
}

#uitableview .custom.section-container {
  margin-top: 12px !important;
}

#uitableview .custom.section-header {
  padding-left: 0;
  padding-right: 0;
  padding-top: 12px;
  padding-bottom: 0;
  margin: 0 14px;
  font-size: 24px !important;
  font-weight: 650 !important;
  text-transform: capitalize !important;
  opacity: 100% !important;
  border-top: 0.5px solid var(--cell-separator);
}

#uitableview .custom.section-footer {
  padding-top: 2px;
  font-size: 14px !important;
}

#uitableview .custom.cell .cell-detail-text {
  font-size: 12px !important;
}

#uitableview .app.icon {
  max-width: 57px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.link.cell .cell-text {
  font-size: 20px !important;
}

@media (prefers-color-scheme: dark) {
  #note {
    background-color: var(--cell-background-dark);
  }
}