#today {
  margin-left: 16px;
  padding-top: 28px !important;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 575;
  opacity: 0.45;
}

#uitableview #title {
  padding-top: 6px !important;
}

#note {
  margin: 20px 14px 28px 14px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

#note .header {
  font-size: 18px;
  font-weight: 600;
}

#note .description {
  text-align: center;
  font-size: 14px;
  opacity: 0.5;
}

#note i {
  font-size: 36px;
  -webkit-text-stroke: 0.1px;
  color: rgba(255, 145, 0, 1);
}

#uitableview .custom.section-container {
  margin-top: 12px !important;
}

#uitableview .custom.section-header {
  padding-left: 0;
  padding-right: 0;
  padding-top: 12px;
  padding-bottom: 0;
  margin: 0 14px;
  font-size: 24px !important;
  font-weight: 650 !important;
  text-transform: capitalize !important;
  opacity: 100% !important;
  /* border-top: 0.5px solid var(--cell-separator); */
}

#uitableview .custom.section-footer {
  padding-top: 2px;
  font-size: 14px !important;
}

#uitableview .custom.cell .cell-detail-text {
  font-size: 12px !important;
}

#uitableview .app.icon {
  max-width: 57px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.link.cell .cell-text {
  font-size: 20px !important;
}

@media (prefers-color-scheme: dark) {
  #note {
    background-color: var(--cell-background-dark);
  }
}

#add {
  /* background-color: red; */
  margin: 14px;
  border-radius: 14px !important;
  overflow: hidden;
}

#add {
  position: relative;
  color: white;
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* justify-items: baseline; */
}

#add .background-image {
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: black;
  width: 100%;
  opacity: 0.85;
}

#add .background-image>img {
  width: 100% !important;
  opacity: 0.85;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  scale: 1.1; /* Remove white edges caused by blur */
}

#add h1 {
  z-index: 5;
  text-transform: uppercase;
  max-width: 50%;
  
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  position: absolute;
  bottom: 0;
}

#add .text {
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  margin: 20px;
}

#add .cell {
  background-color: #359B9FCD !important;
  /* opacity: 0.85; */
  padding: 0 6px;
}

#add .app.icon {
  max-width: 48px;
  border-radius: 11px;
}

#add .cell-text {
  font-size: 14px;
  font-weight: 600;
}

#add .cell-detail-text {
  opacity: 1;
}

#add .button-wrapper>.detail-text {
  opacity: 0.9;
  width: unset;
}

#add .uibutton {
  background-color: white;
}