:root {
  --altstore-color: rgba(1, 128, 132, 1);
  --altstore-color-custom: rgba(1, 128, 128, 0.8);
}

body {
  width: 100%;
  padding-bottom: 20px !important;
}

@media screen and (min-device-width: 767px) {
  body {
    margin: 0 auto;
    max-width: 414px;
  }
}

#uitableview .uibanner {
  background-color: var(--altstore-color-custom) !important;
  color: white;
}

#uitableview .uibanner .detail-text {
  opacity: 0.7;
}

#uitableview .uibanner button {
  background-color: white !important;
  color: var(--altstore-color);
}

#uitableview .custom.cell .cell-labels {
  margin-right: 6px !important;
}

#uitableview .custom .cell-inner {
  padding-top: 18px;
  padding-bottom: 18px;
}

#uitableview .custom.cell:first-of-type .cell-inner {
  border-top: none !important;
}

#uitableview .custom.cell:last-of-type .cell-inner {
  border-bottom: none !important;
}

@media (prefers-color-scheme: dark) {
  #uitableview .custom.section-header,
  #uitableview .text-container {
    border-color: var(--cell-separator-dark);
  }

  #uitableview .app.icon {
    border-color: var(--icon-border-dark);
  }
}

#loading {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

#loading p {
  font-size: 12px;
  text-transform: uppercase;
}

#loading-indicator {
  width: 24px;
  margin-bottom: 4px;
}

.link.cell {
  text-decoration: none;
  color: unset;
}

.link.cell .cell-text {
  color: var(--primary-color);
}

.link.cell .cell-inner {
  margin: 0px 18px !important;
  padding: 24px 0 !important;
  /* border: none !important; */
  border-top: none !important;
  border-bottom: 0.5px solid;
  padding: 10px 0 !important;
}

.link.cell #authors {
  display: inline-block;
  vertical-align: bottom;
  max-width: 40vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* No border for last information cell */
.link.cell:last-of-type .cell-inner {
  border: none !important;
}

.fade-in {
  animation: fadein 0.5s;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}