:root {
  --altstore-color: rgba(1, 128, 132, 1);
  --altstore-color-custom: rgba(1, 128, 128, 0.8);
}

body {
  width: 100%;
  padding-bottom: 20px !important;
}

@media screen and (min-device-width: 767px) {
  body {
    margin: 0 auto;
    max-width: 414px;
  }
}

/* #uitableview .uibanner {
  background-color: var(--altstore-color-custom) !important;
  color: white;
}

#uitableview .uibanner .detail-text {
  opacity: 0.8;
}

#uitableview .uibanner button {
  background-color: white !important;
  color: var(--altstore-color);
} */

#uitableview .custom.cell .cell-labels {
  margin-right: 6px !important;
}

#uitableview .custom .cell-inner {
  padding-top: 18px;
  padding-bottom: 18px;
}

#uitableview .custom.cell:first-of-type .cell-inner {
  border-top: none !important;
}

#uitableview .custom.cell:last-of-type .cell-inner {
  border-bottom: none !important;
}

@media (prefers-color-scheme: dark) {
  #uitableview .custom.section-header,
  #uitableview .text-container {
    border-color: var(--cell-separator-dark);
  }

  #uitableview .app.icon {
    border-color: var(--icon-border-dark);
  }
}

#loading {
  height: 94vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

#loading p {
  font-size: 12px;
  text-transform: uppercase;
}

#loading-indicator {
  width: 24px;
  margin-bottom: 4px;
}

.link.cell {
  text-decoration: none;
  color: unset;
}

.link.cell .cell-text {
  color: var(--primary-color);
}

.link.cell .cell-inner {
  margin: 0px 18px !important;
  padding: 24px 0 !important;
  /* border: none !important; */
  border-top: none !important;
  border-bottom: 0.5px solid;
  padding: 10px 0 !important;
}

/* No border for last information cell */
.link.cell:last-of-type .cell-inner {
  border: none !important;
}

.fade-in {
  animation: fadein 0.5s;
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.badge {
  margin-left: 0.05rem !important;
  margin-right: 0.05rem !important;
  padding: 0.5px 6.5px;
  font-size: 10px;
  line-height: 1.3333733333;
  font-weight: 700;
  border-radius: 12px;
  border-width: 1px;
  border-style: solid;
  box-sizing: border-box;
  white-space: nowrap;
  display: inline-block;
  background: transparent;
  text-transform: uppercase;
  vertical-align: middle;
  color: white;
  border-color: transparent;
}

.small.badge {
  font-size: 8px;
}

.deprecated.badge {
  /* margin-top: 2px;
  margin-bottom: 4px; */
  background-color: #f63e54;
}

.deprecated.badge::before {
  content: "Deprecated";
}

.beta.badge {
  margin-bottom: 2px;
  /* color: #f5a10d; */
  /* border-color: #f5a10d; */
  background-color: #f5a10d;
}

.beta.badge::before {
  content: "Beta";
}

/* Button wrapper */
.button-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.button-wrapper>.detail-text {
  position: absolute;
  width: 76px;
  margin-top: 32px !important;
  font-size: 8px;
  text-align: center;
  opacity: 0.5;
}