:root {
    --light-bg-color: white;
    --dark-bg-color: rgb(20, 20, 31);
    --gradient-bg-color: linear-gradient(rgb(6,15,33), black);
}

/* Texts */
.bold {
    font-weight: 500;
}

.fs-6_5 {
    font-size: 14px;
}

.fs-7 {
    font-size: 12px;
}

/* Backgrounds */
.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.gradient-bg {
    background: linear-gradient(170deg, #d0768c 0%,#bf46a5 10%,#7029b2 50%,#341d8c 100%);
}

.blur-bg {
    background: rgb(29,29,31,0.35);
    /* background: rgba(240,240,240,0.9); */
}

@media (prefers-color-scheme: light) {
body {
    background-color: var(--light-bg-color);
}
.blur-bg {
    background: rgba(240,240,240,0.65);
}
.app-text p.app-desc-short, .app-version {
    color: rgb(0,0,0,0.5);
}
.text-adaptive {
    color: rgb(0,0,0,0.80);
}
.text-adaptive2 {
    color: rgb(0,0,0,0.90);
}
}

@media (prefers-color-scheme: dark) {
body {
    background-color: var(--dark-bg-color);
}
.blur-bg {
    background: rgb(29,29,31,0.35);
}
.app-text p.app-desc-short, .app-version {
    color: darkgray;
}
.text-adaptive {
    color: lightgray;
}
.text-adaptive2 {
    color: white;
}
}

/* Add button */
#add::before {
    content: "+ ";
}

#add:hover {
    color: rgb(86,46,160);
}

/* @media (max-width: 576px) {
    .app-text p.app-desc-short {
        min-width: 5px;
        width: 5vw;
    }
} */

@media (min-width: 550px) {
    .app-text p.app-desc-short {
        min-width: 325px;
        max-width: 325px;
    }
}

@media (max-width: 549px) {
    .app-text p.app-desc-short {
        min-width: 50vw;
    }
}

@media (max-width: 430px) {
    .app-text p.app-desc-short {
        min-width: 40vw;
    }
}

@media (max-width: 369px) {
    .app-text p.app-desc-short {
        min-width: 35vw;
        max-width: 35vw;
    }
}

@media (max-width: 328px) {
    .app-text p.app-desc-short {
        min-width: 30vw;
        max-width: 30vw;
    }
}

.app {
    width: 100%;
    max-width: 500px;
    border-radius: 22px;
}

.btn.rounded-pill {
    min-width: 75px;
}

.app .app-icon {
    max-width: 50px;
    border-radius: 11px;
}

.app-text p{
    margin-bottom: 0px!important;
    line-height: 18px;
}

.app-text p.app-desc-short {
    line-height: 15px;
    /* min-width: 250px; */
    /* width: 42vw; */
    /* max-width: 155px; */
    /* color: darkgray; */
    /* white-space: nowrap; */
    /* overflow: hidden!important; */
    /* text-overflow: ellipsis; */
}
.app-text p.app-desc-long {
    hyphens: auto;
}

#apps {
    /* height: 35%;
    max-height: 400px; */
    overflow: hidden;
    /* overflow-y: scroll; */
    padding-bottom: 2rem;
    /* margin-bottom: 20px; */
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 95%, transparent 99%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 95%, transparent 99%);
}

.h-100 {
    min-height: 100vh;
}

.app {
    animation: slide_in 0.5s both;
}

footer {
    /* max-height: 1px; */
    /* margin-top: 100px; */
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/* .btn.btn-primary:hover {
    background-color: ;
} */

@media(hover: hover) {
    .btn:hover {
        background-color: var(--bs-btn-hover-bg);
    }
}

@media(hover: none) {
    .btn:hover {
        color: var(--bs-btn-color)!important;
        background-color: var(--bs-btn-bg);
        border: none;
    }
}

.btn:focus {
    background-color: var(--bs-btn-bg);
    /* background-color: red; */
    outline: none !important;
    box-shadow: none;
}

.btn-outline-light.focus {
    color: rgb(139,65,166)!important;
}

.focus {
    background-color: var(--bs-btn-hover-bg)!important;
    /* border: none!important; */
    transition: 0.1s;
}

.badge.new {
    line-height: 12px; 
    font-size: 8px; 
    position: relative; 
    padding-top: 2px;
    padding-bottom: 3px;
    top: -3px; 
    /* margin-left: 3px; */
}

/* Bootstrap overrides */
.alert-success {
    --bs-alert-color: #0f5132;
    --bs-alert-bg: #d1e7dd;
    --bs-alert-border-color: #badbcc;
}
.alert-success .alert-link {
    color: #0c4128;
}

/* Animations */
@keyframes slide_in{
  from {
    opacity: 0;
    transform: translateY(-35px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }    
}

@-webkit-keyframes slide_in{
  from {
    opacity: 0;
    transform: translateY(-35px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }  
}

@keyframes fade_in{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }     
}

@-webkit-keyframes fade_in{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }     
}

